.container {
  background: gray;
  border-radius: 1rem;
  color: black;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 5rem;
  text-decoration: none;
}
