form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  width: 50%;
  margin: 0;
  margin-top: 2rem;
}

.inputs {
  border-radius: 2rem;
  display: flow-root;
  flex-direction: row;
  align-items: center;
  margin: 1rem auto;
  fill: #d9d9d9;
  width: 24.4375rem;
  height: 1.375rem;
  flex-shrink: 0;
}

button {
  align-content: center;
  margin: 1rem auto;
  border-radius: 0.625rem;
  background: #d9d9d9;
  width: 12.375rem;
  height: 4.125rem;
  flex-shrink: 0;
}
