@import '../../resorces';

.form {
  text-align: center;
  font-family: Libre Franklin;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2rem;
  margin: 20px;

  h2 {
    margin-right: 50%;
    font-size: 20px;
  }
  .email {
    margin: 20px;
    flex-wrap: wrap;
    gap: 1rem;
    input#email {
      border-radius: 1rem;
      width: 20rem;
      padding: 0.3rem;
    }
  }
  .password {
    margin: 20px;
    flex-wrap: wrap;
    gap: 1rem;
    input#password {
      border-radius: 1rem;
      width: 20rem;
      padding: 0.3rem;
    }
  }
}
